$color-secondary: #0a0a0a;
$color-primary: #fff;

$color-grey: #f7f7f7;
$color-grey2: #eee;
$color-grey3: rgb(173, 173, 173);
$color-grey4: rgb(104, 104, 104);
$color-text: rgba(0, 0, 0, 0.726);
$color-grey-dark: rgb(17, 17, 17);
$color-grey-dark2: rgb(24, 24, 24);