.recents {
  position: relative;
  margin: 5rem auto 7rem;

  &__container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.1s ease;
    margin: 0 2rem;

    &.active {
      cursor: grabbing;
      transform: scale(1.02);
    }

    &.active .reslide {
      box-shadow: 4px 6px 8px rgba($color-secondary, 0.2);
    }

    &::-webkit-scrollbar {
      display: none;
    }

    & .reslide {
      display: inline-block;
      width: 30rem;
      height: 30rem;
      box-shadow: 2px 4px 6px rgba($color-secondary, 0.3);
      margin: 1rem;
      transition: all 0.1s ease;

      & img {
        border-radius: 3px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__slides--controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.recents__slides--controls #re-next-btn,
.recents__slides--controls #re-prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 3rem;
  border: none;
  color: #000000;
  padding: 1rem 5rem;
}