.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;

  // @media only screen and (max-width: 1000px) {
  //   display: block;
  // }

  @include respond(phone) {
    padding: 0 3rem;
  }

  max-height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000000000000000;
  background: $color-secondary;
  transition: all 0.2s;
  box-shadow: 0 5px 10px rgba($color-secondary, 0.3);

  &__logo {
    & img {
      width: 7rem;
      padding: 1.5rem 1rem 1rem;
      height: 100%;
      transition: all 0.2s;

      // @media only screen and (max-width: 1000px) {
      //   margin-bottom: 1rem;
      // }
    }

    flex: 1;
  }

  &__links {
    & div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;

      @media only screen and (max-width: 1000px) {
        overflow-y: scroll;
        align-items: flex-start;

        & .enableNot {
          margin-bottom: 5rem;
        }
      }

      & li {
        & a {
          color: $color-primary;
          padding: 1rem;
          border-radius: 2px;
          font-size: 1.5rem;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          font-family: "LatoRegular", sans-serif;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            $color-primary 50%
          );
          background-size: 230%;
          transition: all 0.4s;

          &:hover,
          &:active {
            background-position: 100%;
            color: $color-secondary;
          }
        }

        & .enableNot {
          display: none;
          background: none;
          background: $color-grey;
          border: none;
          box-shadow: 3px 3px 6px rgba($color-secondary, 0.3);
          color: $color-secondary;
          padding: 0.8rem 1.3rem;
          border-radius: 2px;
          font-size: 1.7rem;
          cursor: pointer;
          outline: none;
          transition: all 0.3s;
          white-space: nowrap;

          &:hover {
            background: $color-grey2;
          }
        }
      }
    }
  }

  & #mode {
    color: $color-primary;
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 1rem;

    // @media only screen and (max-width: 1000px) {
    //   position: absolute;
    //   top: 3rem;
    //   right: 5rem;
    // }
  }
}

@media only screen and (max-width: 1000px) {
  .input:checked ~ .nav .nav__res--btn span {
    background: transparent;

    &::before,
    &::after {
      background: #fff;
      top: 0;
      left: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      // width: 30px;
      transform: rotate(-45deg);
    }
  }

  .nav__links {
    @media only screen and (max-width: 1000px) {
      position: absolute;
      left: 0%;
      top: 100%;
      width: 0%;
      height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      backdrop-filter: blur(5px);
      transition: all 0.2s ease;

      & div {
        flex-direction: column;
        justify-content: flex-start;
        display: block;
        // position: absolute;
        // top: 0%;\
        height: 100%;
        width: 0;
        // opacity: 0;
        // visibility: hidden;
        background: $color-secondary;
        transition: all 0.2s ease;

        & li {
          // width: 100%;
          margin: 2rem 2rem 5rem;

          &:first-child {
            margin-top: 5rem;
          }
        }
      }
    }
  }

  .input {
    display: none;
  }

  .input:checked ~ .nav .nav__links {
    width: 100%;
  }

  .input:checked ~ .nav .nav__links div {
    opacity: 1;
    left: 0;
    visibility: visible;
    width: 25rem;
  }
}

.nav__res--btn {
  display: none;

  @media only screen and (max-width: 1000px) {
    display: block;
    // margin-right: 5rem;
    height: 100%;
    align-self: center;
    margin-bottom: 1.5rem;
    cursor: pointer;
    padding: 1.5rem;

    & span {
      display: block;
      width: 4rem;
      height: 1px;
      background-color: $color-primary;

      width: 25px;
      height: 1px;
      background-color: $color-primary;
      cursor: pointer;
      position: relative;

      &::before,
      &::after {
        width: 25px;
        content: "";
        display: block;
        position: absolute;
        background-color: $color-primary;
        height: 1px;
        transition: all 0.2s ease;
        z-index: 20;
        transform-origin: center;
      }

      &::before {
        top: -0.8rem;
        right: 0;
      }

      &::after {
        top: 0.8rem;
        right: 0;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .nav__logo {
    display: flex;
    align-items: center;
  }
}
